<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyz.pojo.Dept">

<!--  查找所有的Dept  -->
    <select id="selectAllDept"  resultType="dept">
        select * from Dept
  </select>

<!--  查看Dept 通过id  -->
    <select id="selectDeptById" parameterType="int" resultType="dept">
        select * from Dept where deptno=#{id}
    </select>

<!--  添加Dept  -->
    <insert id="insertDept" parameterType="dept">
        insert into dept(deptno,dname,loc) values(#{deptno},#{dname},#{loc})
    </insert>


<!--   删除Dept通过ID -->
    <delete id="deleteDepyByid" parameterType="int">
        delete from Dept where deptno=#{id}
    </delete>

<!--  修改Dept通过ID  -->
    <update id="updateDepyBYid" parameterType="dept">
        update dept set loc=#{loc} where deptno = #{deptno}
    </update>


</mapper>