<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        姓：<input type="text" v-model="firstname" />
        名：<input type="text" v-model="lastname"/>
        <br/>
        <!-- <h3>{{fullname())}}</h3> -->

    </div>
    <script>
        Vue.config.production = false;
        new Vue({

            el:"#app",
            data:{
                firstname:"张",
                lastname:"三",
            },
            methods:{
                fullname(){
                    return this.firstname+'-'+this.lastname;
                }
            }
        });
    </script>
</body>
</html>